$masthead-image-blur: 0;

.about_gdja {
  padding: 25px;

}

.home_marketing_text {
   width: 75% !important;
  .home_marketing_text {
    p {
     color: #ffffff !important;
     background-color: #4A90E2;
     text-shadow: none !important;
     border: solid;
     border-width: 5px;
     padding: 3px;
     
    }
  }
}

.image-masthead .background-container-gradient {
  background: none !important;
}

.home_browse_collection {
  margin-bottom: 25px;
  margin-top: 25px;
}

footer.navbar p {
  text-align: left !important;
}

.home-search {
  width: 300px;
}

.browse-button-home {
  margin-bottom: 20px;
}

.browse-button-home .btn {
  margin-right: 50px;
}
